<div class="accounting-entry-page">
  <nz-card nzTitle="收入录入" nzBordered nzHoverable class="form-container" style="margin-bottom: 20px;">
    <form [formGroup]="incomeForm" (ngSubmit)="onSubmitIncome()">
      <div formArrayName="entries">
        <div *ngFor="let entry of incomeEntries.controls; let i = index" [formGroupName]="i" class="entry-row">
          <div nz-row nzGutter="15" nzJustify="start" nzAlign="top" nzType="flex" class="filter-container" style="min-width: 400px;">
            <div nz-col nzSpan="24" class="field-container" style="display: flex; flex-wrap: nowrap; min-width: 400px;">
              <div style="min-width: 200px; flex: 1; margin-right: 10px;">
                <nz-form-item>
                  <nz-form-label style="margin-left: 2px;">项目名称</nz-form-label>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <input nz-input formControlName="projectName" placeholder="输入项目名称">
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div style="min-width: 150px; flex: 1; margin-right: 10px;">
                <nz-form-item>
                  <nz-form-label style="margin-left: 2px;">收入类别</nz-form-label>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <nz-select formControlName="incomeCategory">
                      <nz-option *ngFor="let option of incomeCategories" [nzValue]="option.id" [nzLabel]="option.name"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div style="min-width: 150px; flex: 1; margin-right: 10px;">
                <nz-form-item>
                  <nz-form-label style="margin-left: 2px;">收入分项</nz-form-label>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <nz-select formControlName="incomeItem">
                      <!-- Options for incomeItem should be populated dynamically -->
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div style="min-width: 200px; flex: 1; margin-right: 10px;">
                <nz-form-item>
                  <nz-form-label style="margin-left: 2px;">收入金额</nz-form-label>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <input nz-input formControlName="incomeAmount" placeholder="输入收入金额">
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div style="min-width: 150px; flex: 1; margin-right: 10px;">
                <nz-form-item>
                  <nz-form-label style="margin-left: 2px;">收入账户</nz-form-label>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <nz-select formControlName="incomeAccount">
                      <nz-option *ngFor="let option of accounts" [nzValue]="option.id" [nzLabel]="option.name"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div style="min-width: 200px; flex: 1; margin-right: 10px;">
                <nz-form-item>
                  <nz-form-label style="margin-left: 2px;">收入时间</nz-form-label>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <nz-date-picker formControlName="incomeDate"></nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div style="min-width: 200px; flex: 1; margin-right: 10px;">
                <nz-form-item>
                  <nz-form-label style="margin-left: 2px;">收入付款方</nz-form-label>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <input nz-input formControlName="incomePayer" placeholder="输入收入付款方">
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div style="min-width: 200px; flex: 1; margin-right: 10px;">
                <nz-form-item>
                  <nz-form-label style="margin-left: 2px;">备注</nz-form-label>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <input nz-input formControlName="incomeNote" placeholder="输入备注">
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
          <button nz-button nzType="dashed" (click)="removeIncomeEntry(i)">删除</button>
        </div>
      </div>
      <button nz-button nzType="dashed" (click)="addIncomeEntry()">添加收入条目</button>
      <button nz-button nzType="primary" [disabled]="!incomeForm.valid">提交收入</button>
    </form>
  </nz-card>

  <nz-card nzTitle="支出录入" nzBordered nzHoverable class="form-container">
    <form [formGroup]="expenseForm" (ngSubmit)="onSubmitExpense()">
      <div formArrayName="entries">
        <div *ngFor="let entry of expenseEntries.controls; let i = index" [formGroupName]="i" class="entry-row">
          <div nz-row nzGutter="15" nzJustify="start" nzAlign="top" nzType="flex" class="filter-container" style="min-width: 300px;">
            <div nz-col nzSpan="24" class="field-container" style="display: flex; flex-wrap: nowrap;">
              <div style="min-width: 200px; flex: 1; margin-right: 10px;">
                <nz-form-item>
                  <nz-form-label style="margin-left: 2px;">项目名称</nz-form-label>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <input nz-input formControlName="projectName" placeholder="输入项目名称">
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div style="min-width: 150px; flex: 1; margin-right: 10px;">
                <nz-form-item>
                  <nz-form-label style="margin-left: 2px;">支出类别</nz-form-label>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <nz-select formControlName="expenseCategory">
                      <nz-option *ngFor="let option of expenseCategories" [nzValue]="option.id" [nzLabel]="option.name"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div style="min-width: 150px; flex: 1; margin-right: 10px;">
                <nz-form-item>
                  <nz-form-label style="margin-left: 2px;">支出分项</nz-form-label>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <nz-select formControlName="expenseItem">
                      <!-- Options for expenseItem should be populated dynamically -->
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div style="min-width: 200px; flex: 1; margin-right: 10px;">
                <nz-form-item>
                  <nz-form-label style="margin-left: 2px;">支出金额</nz-form-label>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <input nz-input formControlName="expenseAmount" placeholder="输入支出金额">
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div style="min-width: 150px; flex: 1; margin-right: 10px;">
                <nz-form-item>
                  <nz-form-label style="margin-left: 2px;">支出账户</nz-form-label>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <nz-select formControlName="expenseAccount">
                      <nz-option *ngFor="let option of accounts" [nzValue]="option.id" [nzLabel]="option.name"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div style="min-width: 200px; flex: 1; margin-right: 10px;">
                <nz-form-item>
                  <nz-form-label style="margin-left: 2px;">支出时间</nz-form-label>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <nz-date-picker formControlName="expenseDate"></nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div style="min-width: 200px; flex: 1; margin-right: 10px;">
                <nz-form-item>
                  <nz-form-label style="margin-left: 2px;">支出收款方</nz-form-label>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <input nz-input formControlName="expensePayee" placeholder="输入支出收款方">
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div style="min-width: 200px; flex: 1; margin-right: 10px;">
                <nz-form-item>
                  <nz-form-label style="margin-left: 2px;">备注</nz-form-label>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <input nz-input formControlName="expenseNote" placeholder="输入备注">
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
          <button nz-button nzType="dashed" (click)="removeExpenseEntry(i)">删除</button>
        </div>
      </div>
      <button nz-button nzType="dashed" (click)="addExpenseEntry()">添加支出条目</button>
      <button nz-button nzType="primary" [disabled]="!expenseForm.valid">提交支出</button>
    </form>
  </nz-card>
</div>
