<div nz-row nzGutter="15" nzJustify="start" nzAlign="top" nzType="flex" class="filter-container" style="min-width: 300px;">
  <div nz-col nzSpan="8" *ngFor="let item of filterItems" class="filter-item" style="min-width: 450px;">
    <nz-form-item>
      <nz-form-label [nzSpan]="8">{{ item.label }}</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <ng-container [ngSwitch]="item.type">
          <nz-range-picker *ngSwitchCase="'rangePicker'" [formControl]="item.formControl"></nz-range-picker>
          <nz-date-picker *ngSwitchCase="'datePicker'" [formControl]="item.formControl"></nz-date-picker>
          <input nz-input *ngSwitchCase="'input'" [formControl]="item.formControl" placeholder="输入{{ item.label }}">
          <nz-select *ngSwitchCase="'select'" [formControl]="item.formControl">
            <nz-option *ngFor="let option of item.options || []" [nzValue]="option.value"
              [nzLabel]="option.label"></nz-option>
          </nz-select>
        </ng-container>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
<div nz-row nzJustify="end" style="margin-top: 20px;">
  <nz-button nz-button nzType="primary" (click)="submitForm()">提交</nz-button>
</div>

