<nz-layout class="layout" style="height: 100%;">
  <nz-layout>
    <nz-sider nzWidth="200" [nzCollapsed]="false" class="menu-sidebar">
      <div>
        <nz-typography class="sidebar-logo" nzTitle>
          <span nz-icon nzType="pay-circle" nzTheme="outline"></span>{{ title }}
        </nz-typography>
      </div>
      <ul nz-menu nzMode="inline" nzTheme="dark">
        <li nz-menu-item routerLink="/income" nz-routerLinkActive="active-link">收入管理</li>
        <li nz-menu-item routerLink="/project" nz-routerLinkActive="active-link">项目管理</li>
        <li nz-menu-item routerLink="/cost" nz-routerLinkActive="active-link">成本管理</li>
        <!-- 更多菜单项 -->
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-content>
        <nz-card>
          <router-outlet></router-outlet>
        </nz-card>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>