<nz-layout class="layout" style="height: 100%;">
  <nz-layout>
    <nz-sider nzWidth="200" [nzCollapsed]="false" class="menu-sidebar">
      <div>
        <nz-typography class="sidebar-logo" nzTitle>
          <span nz-icon nzType="home" nzTheme="outline"></span>{{ title }}
        </nz-typography>
      </div>
      <ul nz-menu nzMode="inline" nzTheme="dark">
        <li *ngFor="let menuItem of menuItems" nz-menu-item [routerLink]="menuItem.link" nz-routerLinkActive="active-link">
          {{ menuItem.label }}
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-content>
        <nz-card>
          <router-outlet></router-outlet>
        </nz-card>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>