.transaction-detail-page .entry-row {
  display: flex;
  flex-wrap: wrap;
}

.transaction-detail-page .field-container {
  flex: 1 1 300px; /* Minimum width of 300px */
  max-width: calc(33.33% - 10px); /* Three fields per row with some margin */
  margin: 5px;
}

.transaction-detail-page .card-spacing {
  margin-bottom: 20px; /* 你可以根据需要调整间隔 */
}