<div class="transaction-detail-page">
  <nz-card nzTitle="收入流水" nzBordered nzHoverable class="table-container card-spacing">
    <ng-container *ngIf="incomeData$ | async as incomeData">
      <nz-table #incomeTable [nzData]="incomeData" [nzPageSize]="10">
        <thead>
          <tr>
            <th>项目名称</th>
            <th>收入类别</th>
            <th>收入分项</th>
            <th>收入金额</th>
            <th>收入账户</th>
            <th>收入时间</th>
            <th>收入付款方</th>
            <th>备注</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of incomeTable.data">
            <td>{{ item.projectName }}</td>
            <td>{{ item.incomeCategory }}</td>
            <td>{{ item.incomeItem }}</td>
            <td>{{ item.incomeAmount }}</td>
            <td>{{ item.incomeAccount }}</td>
            <td>{{ item.incomeDate | date }}</td>
            <td>{{ item.incomePayer }}</td>
            <td>{{ item.incomeNote }}</td>
          </tr>
        </tbody>
      </nz-table>
    </ng-container>
  </nz-card>

  <nz-card nzTitle="支出流水" nzBordered nzHoverable class="table-container">
    <ng-container *ngIf="expenseData$ | async as expenseData">
      <nz-table #expenseTable [nzData]="expenseData" [nzPageSize]="10">
        <thead>
          <tr>
            <th>项目名称</th>
            <th>支出类别</th>
            <th>支出分项</th>
            <th>支出金额</th>
            <th>支出账户</th>
            <th>支出时间</th>
            <th>支出收款方</th>
            <th>备注</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of expenseTable.data">
            <td>{{ item.projectName }}</td>
            <td>{{ item.expenseCategory }}</td>
            <td>{{ item.expenseItem }}</td>
            <td>{{ item.expenseAmount }}</td>
            <td>{{ item.expenseAccount }}</td>
            <td>{{ item.expenseDate | date }}</td>
            <td>{{ item.expensePayee }}</td>
            <td>{{ item.expenseNote }}</td>
          </tr>
        </tbody>
      </nz-table>
    </ng-container>
  </nz-card>
</div>
